<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <jmxConfigurator/>
    <contextName>polyglot-persistence</contextName>

    <!-- dump status message on the console as they arrive -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <property name="root.log" value="target/logs/"/>
    <property name="log.format" value="%5p [%d][%thread][%logger{0}] %msg%n"/>


    <appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTrackerImpl">
            <bufferSize>10</bufferSize>
        </cyclicBufferTracker>

        <!--<filter class="ru.korus.tmis.util.ExceptionFilter">-->
        <!--<exceptionClassName>java.lang.Exception</exceptionClassName>-->
        <!--</filter>-->

        <evaluator class="ru.nde.utils.logs.CounterBasedEvaluator">
            <countMessage>20</countMessage>
        </evaluator>

        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
        <!--<level>ERROR</level>-->
        <!--</filter>-->


        <!-- For example you can configure that only error messages are mailed -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>


        <!--<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">-->
        <layout class="ch.qos.logback.classic.html.HTMLLayout">
            <pattern>%relative%thread%mdc%level%logger%msg</pattern>
        </layout>
        <!--</encoder>-->

        <smtpPort>587</smtpPort>
        <STARTTLS>true</STARTTLS>
        <username>nnm921@gmail.com</username>
        <password>dallas921</password>

        <SmtpHost>smtp.gmail.com</SmtpHost>
        <To>nnm921@gmail.com</To>
        <From>nnm921@gmail.com</From>
        <subject>%logger{20} - %m</subject>


    </appender>


    <!-- Основные настройки для консоли, для эксепшен лога-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>${log.format}</pattern>
        </encoder>
        <param name="target" value="System.out"/>
        <target>System.out</target>
    </appender>

    <appender name="STDOUT_ERROR" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder>
            <pattern>${log.format}</pattern>
        </encoder>
        <param name="target" value="System.err"/>
        <target>System.err</target>
    </appender>

    <appender name="EXCEPTIONS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${root.log}exceptions/exceptions.log</file>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return throwable != null;</expression>
            </evaluator>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${root.log}exceptions/exceptions.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
            <MaxHistory>365</MaxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${log.format}</pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="EMAIL"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDOUT_ERROR"/>
        <appender-ref ref="EXCEPTIONS"/>
    </root>


    <!--Общий логгер для всего проекта-->
    <appender name="MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${root.log}core/core.log</file>
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${root.log}core/core.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 200MB -->
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="ru.nde" level="INFO">
        <appender-ref ref="MAIN"/>
        <appender-ref ref="STDOUT_ERROR"/>
        <appender-ref ref="EXCEPTIONS"/>
    </logger>


</configuration>