<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <jmxConfigurator/>
    <contextName>polyglot-persistence-test</contextName>

    <property name="root.log" value="target/logs-test/"/>
    <property name="log.format" value="%5p [%d][%thread][%logger{0}] %msg%n"/>

    <!-- Основные настройки для консоли, для эксепшен лога-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>${log.format}</pattern>
        </encoder>
        <param name="target" value="System.out"/>
        <!--<target>System.out</target>-->
    </appender>

    <appender name="STDOUT_ERROR" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder>
            <pattern>${log.format}</pattern>
        </encoder>
        <param name="target" value="System.err"/>
        <!--<target>System.err</target>-->
    </appender>

    <appender name="EXCEPTIONS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${root.log}/exceptions/exceptions.log</file>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return throwable != null;</expression>
            </evaluator>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>ACCEPT</OnMatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${root.log}/exceptions/exceptions.%d{yyyy-MM-dd}.log.gz</FileNamePattern>
            <MaxHistory>365</MaxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${log.format}</pattern>
        </encoder>
    </appender>

    <!--Настройки для tmis-->
    <!--Общий логгер для всего проекта-->

    <appender name="TMIS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${root.log}/tmis-core/core.log</file>
        <encoder>
            <pattern>${log.format}</pattern>
            <charset>UTF-8</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${root.log}/tmis-core/core.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 200MB -->
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="ru.korus.tmis" level="DEBUG" additivity="false">
        <appender-ref ref="TMIS"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDOUT_ERROR"/>
        <appender-ref ref="EXCEPTIONS"/>
    </logger>


    <appender name="AUTH" class="ch.qos.logback.core.FileAppender">
        <file>${root.log}/auth/auth.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %msg%n</pattern>
            <charset>UTF8</charset>
        </encoder>
    </appender>
    <logger name="ru.korus.tmis.core.logging.slf4j.interceptor.AuthLoggingInterceptor" level="INFO" additivity="false">
        <appender-ref ref="AUTH"/>
    </logger>

    <appender name="SERVICES" class="ch.qos.logback.core.FileAppender">
        <file>${root.log}/services/services.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %msg%n</pattern>
            <charset>UTF8</charset>
        </encoder>
    </appender>
    <!-- additivity=false ensures analytics data only goes to the analytics log -->
    <logger name="ru.korus.tmis.core.logging.slf4j.interceptor.ServicesLoggingInterceptor" level="INFO"
            additivity="false">
        <appender-ref ref="SERVICES"/>
    </logger>

    <appender name="DEBUGLOG" class="ch.qos.logback.core.FileAppender">
        <file>${root.log}/debug/debug.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %msg%n</pattern>
            <charset>UTF8</charset>
        </encoder>
    </appender>
    <!--
    <logger name="ru.korus.tmis.core.logging.slf4j.interceptor.ServicesLoggingInterceptor" level="INFO" additivity="true">
        <appender-ref ref="DEBUGLOG"/>
    </logger>
    -->
    <logger name="ru.korus.tmis.core.logging._LoggingInterceptor_Serializable" level="INFO" additivity="false">
        <appender-ref ref="DEBUGLOG"/>
    </logger>
    <!--
    <root level="INFO">
        <appender-ref ref="DEBUGLOG" />
    </root>
    -->

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDOUT_ERROR"/>
        <appender-ref ref="EXCEPTIONS"/>
    </root>

</configuration>